<%= form_for(movie) do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= f.label :name, {:class => "control-label"} %>
      <%= f.text_field :name, {:class => "form-control"} %>
    </div>

    <div class="field">
      <%= f.label :about, {:class => "control-label"} %>
      <%= f.text_area :about, {:class => "form-control"} %>
    </div>

    <div class="field">
      <%= f.label :length, {:class => "control-label"} %>
      <%= f.number_field :length, {:class => "form-control"} %>
    </div>

    <div class="field">
      <%= f.label "Img url" %>
      <%= f.text_field :img, {:class => "form-control"} %>
    </div>

    <div class="actions">
      <%= f.submit :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
