<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Movies <%= link_to 'New Movie', new_movie_path, {:class => "btn btn-info"} %></h1>

  
  
  <hr />
  <div class="container"></div>
      <% @movies.each do |movie| %>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <img class="movies-img-preview" src="<%= movie.img %>">
          </div>
          <div class="col-sm-6 col-md-8">
            <h3><%= link_to movie.name, movie %>
            <p><%= movie.about %></p>
            <p>Duration: <%= movie.length %> | <%= link_to 'Edit', edit_movie_path(movie) %> | <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></p>         
          </div>
        </div>

      <% end %>



  
</div>
