<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-sm-4">
      <img class="img-responsive show-big-img" src="<%= @movie.img %>">
    </div>

    <h4>
      <strong>Name:</strong>
      <%= @movie.name %>
    </h4>

    <p>
      <strong>About:</strong>
      <%= @movie.about %>
    </p>

    <p>
      <strong>Length:</strong>
      <%= @movie.length %>  min.

      <%= link_to 'Edit', edit_movie_path(@movie), {:class => "btn btn-xs btn-default"}  %>

      <%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-default" %></p>  
    </p>
    <hr />
    <h3>All shows for this movie:</h3>
  </div>
  <hr />
 
  <%= link_to 'Back', movies_path, {:class => "btn btn-info"}  %>

</div>
