
<%= form_for(auditorium) do |f| %>
  <% if auditorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auditorium.errors.count, "error") %> prohibited this auditorium from being saved:</h2>

      <ul>
      <% auditorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= f.label :name, {:class => "control-label"} %>
      <%= f.text_field :name, {:class => "form-control"}  %>
    </div>

    <div class="field">
      <%= f.label :seat_rows, {:class => "control-label"} %>
      <%= f.number_field :seat_rows, {:class => "form-control"} %>
    </div>

    <div class="field">
      <%= f.label :seats_per_row, {:class => "control-label"} %>
      <%= f.number_field :seats_per_row, {:class => "form-control"} %>
    </div>

    <div class="actions">
      <%= f.submit :class => "btn btn-default" %>
    </div>
  </div>
<% end %>

  
