<%= form_for(ticket) do |f| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-grup">
  <div class="field">
    <%= f.label :show_id, {:class => "control-label"} %>
    <%= f.number_field :show_id, {:class => "form-control"} %>
  </div>

  <div class="field">
    <%= f.label :name, {:class => "control-label"} %>
    <%= f.text_field :name, {:class => "form-control"} %>
  </div>

  <div class="field">
    <%= f.label :email_address, {:class => "control-label"} %>
    <%= f.text_field :email_address, {:class => "form-control"} %>
  </div>

  <div class="field">
    <%= f.label :seat_row, {:class => "control-label"} %>
    <%= f.number_field :seat_row, {:class => "form-control"} %>
  </div>

  <div class="field">
    <%= f.label :seat_number, {:class => "control-label"} %>
    <%= f.number_field :seat_number, {:class => "form-control"} %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-default" %>
  </div>
</div>
<% end %>
