<body>
  <div class="container">
    <h3 class="text-center"> 
      <strong>
        <%= @show.movie.name %> 
        <span style="color:<%= @show.auditorium.name.downcase%>;">
         /  <%= @show.auditorium.name%> /
        </span> on 
        <%= @show.start_datetime.strftime("%b %d, %Y, %I:%M-") %><%=@show.end_datetime.strftime("%I:%M%P") %>
      </strong> 
    </h3>
        <hr />
    <div class="row">

      <div class="col-md-6">
       
        <h3>Chose the seat</h3>
        <div id="seats" class="seats"></div>
        <h3 class="text-left">
          <span class="seats-legend single-seat-active"></span>Free
          <span class="seats-legend single-seat-reserved"></span>Reserved
          <span class="seats-legend single-seat-selected"></span>Selected
        </h4>

      </div>

      <div class="col-md-6">
        <div id="card-message">
          <h3>Enter billing data:</h3>
        </div>

        <form class="form-horizontal" method="post" action="#">
          
          <label class="control-label">Enter your name</label>
          <input class="form-control" id="name-on-card" type="text" name="name" placeholder="Name on card">
          
          <label class="control-label">Email address</label>
          <input class="form-control" id="email-address" type="email" placeholder="Email address" name="seat">
          
          <label class="control-label">Credit card number</label>
          <input class="form-control" id="credit-card-number" type="text" pattern="[0-9]{13,16}" placeholder="Credit card number" name="credit-card-number">
          
          <label class="control-label">Expiration date</label>
          <input class="form-control" id="credit-card-date" type="month" name="seat">
          
          <label class="control-label">Row</label>
          <input class="form-control" id="row-chosen" type="number" name="row" placeholder="Choose free seat" readonly>
          
          <label class="control-label">Seat</label>
          <input class="form-control" id="seat-chosen" type="number" name="seat" placeholder="Choose free seat" readonly>
          <br />
          <button class="btn btn-default" type="button" id="buy-button"> Buy the ticket!</button>
        </form>
      </div>
    </div>
  </div>

<!-- Temporary Inline script -->
<script>
  var rows        = <%= @show.auditorium.seat_rows %>,
      seatsPerRow = <%= @show.auditorium.seats_per_row %>,
      showId      = <%= @show.id %>,
      seats = [ [0, 0, 1, 1, 1, 0, 0],
                [1, 1, 1, 1, 1, 0, 0],
                [0, 1, 1, 1, 0, 1, 1],
                [0, 0, 0, 0, 0, 1, 1],
                [0, 0, 0, 0, 0, 0, 0],
                [0, 0, 0, 0, 0, 0, 0],
                [1, 1, 1, 1, 0, 0, 0],
                [0, 0, 1, 1, 1, 0, 0]];
  var seatRow,
      seatOnRow;

  var seatWidth = Math.floor(320/seatsPerRow);
  var seatsFrameWidth = (seatWidth + 4) * seatsPerRow + 8;
  $('.seats').css('width', seatsFrameWidth);

  for (var i = 1; i <= rows; i++) {
    $('#seats').append('<div class="row-seats" id="row-seats' + i + '"></div>');
    for (var j = 1; j<= seatsPerRow; j++) {
      var num = i * seatsPerRow + j;
      if (seats[i][j] == 0) {
        $('#row-seats' + i).append('<div class="single-seat seatNumber single-seat-active text-center" role="checkbox" id="seat-number' + num + '">' + i + "." + j + '</div>');
      } else {
        $('#row-seats' + i).append('<div class="single-seat seatNumber single-seat-reserved text-center" id="seat-number' + num + '">' + i + "." + j + '</div>');
      }
    }
  }

  $('.single-seat').css('width', seatWidth);
  $('.single-seat').css('height', seatWidth);

  $('.single-seat-active').click(function(){
    var seat = parseInt($(this).text().split(".")[1]);
    var row = parseInt($(this).text().split(".")[0]);

    seatRow   = seat;
    seatOnRow = row;

    $('#seat-chosen').val(seat);
    $('#row-chosen').val(row);
    $('.single-seat-active').css('background', 'green');
    $(this).css('background-color', 'red');   
  });


  $('#buy-button').click(function() {
    var expirationDate   = $('#credit-card-date').val(),
        creditCardNumber = parseInt($('#credit-card-number').val().replace(/\s+/g, '').replace(/\-+/g, '')),
        nameOnCard       = $('#name-on-card').val(),
        emailAddress     = $('#email-address').val();

// Hard code !!1
    buyTicket("Costel", "costel@mail.ru", 4, 5);

    // if (!isValidNameOnCard(nameOnCard)) {
    //   errMessage('Enter your name');
    // } else if (!isValidEmailAddress(emailAddress)) {
    //   errMessage("Enter valid email address");
    // } else if (!isValidCardNumber(creditCardNumber)) {
    //   errMessage('Enter 16 digits of the credit card number')
    // } else if (!isValidDateOnCard(expirationDate)){
    //   errMessage("Enter a valid expiration date");
    // } else if (!areValidRowAndSeatNumber(seatRow, seatOnRow)) {
    //   errMessage('Choose a green seat');
    // }  else {
    //   buyTicket(nameOnCard, emailAddress, seatRow, seatOnRow);
    // }
  });

  function buyTicket(name, email, row, seat) {
    var ticket = JSON.stringify({
      "show_id": showId,
      "name": name,
      "email_address": email,
      "seat_number": seat,
      "seat_row": seat 
    });

    console.log(ticket);
    
    $.ajax({
      type: "POST",
      url: "/tickets/create",
      data: ticket,
      cache: false,
      success: function(data){
        errMessage('Payment went well!');
        console.log('success')
      },
      error: function(err){
        errMessage('Payment went wrong!');
        console.log(err);
      }
    });
  }

  function errMessage(str) {
    $('#card-message').html('<h3 style="color:red">' + str + '</h3>');
  } 

  function isValidNameOnCard(val) {
    return val.length > 0;
  };

  function isValidCardNumber(number) {
    return Number.isInteger(number) && number.toString().length == 16;
  };

  function isValidDateOnCard(val) {
    var today = new Date(),
        year  = today.getFullYear(),
        month = today.getMonth() > 8 ? today.getMonth() + 1 : "0" + (today.getMonth() + 1);
    return val.length == 7 && val > (year + "-" + month);
  }

  function isValidEmailAddress(emailAddress) {
    var pattern = new RegExp(/^(("[\w-+\s]+")|([\w-+]+(?:\.[\w-+]+)*)|("[\w-+\s]+")([\w-+]+(?:\.[\w-+]+)*))(@((?:[\w-+]+\.)*\w[\w-+]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][\d]\.|1[\d]{2}\.|[\d]{1,2}\.))((25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\.){2}(25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\]?$)/i);
    return pattern.test(emailAddress);
  };

   function areValidRowAndSeatNumber(x,y) {
   return Number.isInteger(x) && Number.isInteger(y);
 }




</script>

