<div class="col-xs-12">
  <%= form_for(show, :html => { :class => 'form-horizontal' }) do |f| %>
    <% if show.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

        <ul>
        <% show.errors.full_messages.each do |message| %>
          <li class="color-red"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="field">
        <%= f.label :movie_id, {:class => "control-label"} %>
        <%= f.number_field :movie_id, {:class => "form-control"} %>
      </div>

      <div class="field">
        <%= f.label :auditorium_id, {:class => "control-label"}  %>
        <%= f.number_field :auditorium_id, {:class => "form-control"}  %>
      </div>

      <div class="field">
        <%= f.label :start_datetime, {:class => "control-label"}  %>
        <%= f.datetime_select :start_datetime, {:class => "form-control"}  %>
      </div>

      <div class="field">
        <%= f.label :end_datetime, {:class => "control-label"}  %>
        <%= f.datetime_select :end_datetime, {:class => "form-control"} %>
      </div>

      <div class="actions">
        <%= f.submit :class => "btn btn-default" %>
      </div>
    </div>
  <% end %>
    
</div>


