<div class="container">
  <div class="row">

    <div class="col-xs-12">
      <p class="color-red" id="notice"><%= notice %></p>
       <h1>All Shows <%= link_to 'New Show', new_show_path, {:class => "btn btn-info"} %></h1> 
       <hr />
  
    </div>
  </div>
  
  <% @shows.each do |show| %>
    <div class="row show-result">
      <div class="col-xs-4 col-sm-2">
        <%= link_to show do %>
          <img class="shows-img" src="<%= show.movie.img %>"> 
        <% end %>
      </div>

      <div class="col-xs-8 col-sm-10">
        <%= link_to show do %>
          <h4>
            <strong><%= show.id %>. Movie:</strong>
            <td><%= show.movie.name %></td>
          </h4>
        <% end %>

        <p>
          <strong>
            Auditorium:
            <td>
              <span style="color:<%= show.auditorium.name.downcase %>;">
                <%= show.auditorium.name %>
              </span>
            </td>
          </strong>
        </p>

        <p>
          <strong>Show time:</strong>
          <%= show.start_datetime.strftime("%b %d, %Y, from %I:%M%P to ") %>
          <%= show.end_datetime.strftime(" %I:%M%P") %>.
        </p>

        <%= link_to 'Edit', edit_show_path(show), {:class => "btn btn-xs btn-default"} %>
        <%= link_to 'Destroy', show, method: :delete, data: { confirm: 'Are you sure to delete this show?'}, :class => "btn btn-xs btn-default" %>
      </div>  
    </div>
  <% end %> 
</div>

